body {
	background-image: url('../images/background.png');
	font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.row {
	margin: 10px 0;
}

.description {
	background-color: #ffffff;
	padding:10px;
}

.col-xs-4 {
	font-size:24px;
	min-height:100px;
	text-align:center;
	padding:10px 0;
}

#currentScore {
	background-color: #ffe6b3;
}

.scoreBoard {
	background-color: #ffffcc;
	font-size:20px;
}

#annouceDisplay {
	background-color: #ffb3b3;
}

.crystalsRow {
	background-color: #ffffff;
}

.crystalIcon {
	width: 75px;
	height: 75px;
	padding:5px;
}

.userScoreRow {
	background-color: #00b3b3;
	padding:10px;
	font-size:24px;
	text-align:center;
}